@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


i{
  cursor: pointer;
}
i:hover{
  color: white;
}

.header h1{
  margin: 0 !important;
  padding: 0 !important;
}


.k{
  animation: k infinite;
}

@keyframes k {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}

.s{
  animation: s infinite;
}

@keyframes s {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}

.r{
  animation: r infinite;
}

@keyframes r {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}


input, textarea{
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
}

input:focus{
  outline: none;
  border: 2px solid rgb(56,56,56)
}

textarea{
  height: 100px;
  padding-top: 10px;
}